*.wgsl linguist-detectable=false linguist-vendored
*.vert linguist-detectable=false linguist-vendored
*.wesl linguist-detectable=false linguist-vendored
*.frag linguist-detectable=false linguist-vendored
*.ron linguist-detectable=false